/Beehive-tracker/nbproject/private/
/Beehive-tracker-Preloader/nbproject/private/
/Beehive-tracker/build/
/Beehive-tracker-Preloader/dist/
/Beehive-tracker-Preloader/build/
/Beehive-tracker/dist/
/beehive-manager/target/
/beehive-gui/target/
/beehive-model/target/